# Backend
backend/vendor/
backend/.env
backend/storage/logs/*.log
backend/storage/framework/cache/*
!backend/storage/framework/cache/.gitkeep
!backend/storage/framework/cache/data/
backend/storage/framework/cache/data/*
!backend/storage/framework/cache/data/.gitkeep
backend/storage/framework/sessions/*
!backend/storage/framework/sessions/.gitkeep
backend/storage/framework/views/*
!backend/storage/framework/views/.gitkeep
backend/bootstrap/cache/*
!backend/bootstrap/cache/.gitkeep

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# OS
.DS_Store
Thumbs.db
